body {
    position: relative;
    word-wrap: break-word;
    background-color: #222;
    color: white;
    margin: 2vh 2vw;
    margin-bottom: 5vh;
    font-size: 18px;
    min-height: 95vh;
    min-width: 95vw;
    height: 95%;
    width: 95%;
}

a,
div,
input,
button {
    margin-top: 10px;
}

header.mainAppHeader {
    font-size: 30px;
    margin-bottom: 50px;
}
nav.mainNav {
    position: absolute;
    width: 200px;
    height: 500px;
    padding: 0px 20px;
    background-color: #555;
}

nav.mainNav.Show {
    left: -300px;
}

a {
    color: wheat;
}

div.arrowLeft {
    position: absolute;
    right: 10px;
    top: 0;
}
div.homeIcon a {
    color: white;
}
